#login-div  {
    margin-top: 50px;
    max-width: 250px;
}
.thead {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 134, 134);
}

#background{
    background-color: white;
    background-color: rgb(17, 134, 134);
}