{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3>Títulos em carteira</h3>
        <table class="table">
            <thead class="thead">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Número do bilhete</th>
                <th scope="col">Sorteado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for bet in bets %}
                    <tr>
                        <td> {{ bet.author }}</td> 
                        <td>{{ bet._id }}</td>
                        {% if bet.is_winner %}
                            <td> 
                                <img src="/static/asset/checkmark.jpg" class="mr-3" width="30px" alt="Sorteado"> 
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td> 
                            <a type="submit" class="btn btn-link" href="/check-security/{{ bet._id }}&dashboard">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">

    </div>
{% endblock %}
